#convert {
    background-color: #bba768;
  }
  #convert:hover {
    background-color: #bcc768;
  }
  h1 {
    font-family: sans-serif;
    color: #70b2e5;
  }
  input {
    display: block;
    padding: 10px;
    margin-top: 10px;
    font-size: 2em;
    color: #f4a55a;
    font-family: cursive, sans-serif;
  }
  ::-webkit-input-placeholder {
     color: #ccc;
  }
  :-moz-placeholder { /* Firefox 18- */
     color: #ccc;  
  }
  ::-moz-placeholder {  /* Firefox 19+ */
     color: #ccc;  
  }
  :-ms-input-placeholder {  
     color: #ccc;  
  }
  button {
    padding: 10px;
    font-size: 1.2em;
    color: #545454;
  }
  .box{
    padding-left: 11cm;
    
    padding-top: 4cm;
  }
  body{
    background-color: rgb(62, 95, 90);
  }